[submodule "extensions/MathJax"]
	path = extensions/MathJax
	url = git@github.com:muwiki/mediawiki-mathjax.git
[submodule "resources/lib/MathJax"]
	path = resources/lib/MathJax
	url = git@github.com:mathjax/MathJax.git
[submodule "skins/vector"]
	path = skins/vector
	url = git@github.com:muwiki/mediawiki-skin-vector.git
[submodule "extensions/GoogleAnalytics"]
	path = extensions/GoogleAnalytics
	url = git@github.com:muwiki/mediawiki-extensions-googleAnalytics.git
[submodule "extensions/GraphViz"]
	path = extensions/GraphViz
	url = git@github.com:muwiki/mediawiki-extensions-GraphViz.git
[submodule "extensions/ImageMap"]
	path = extensions/ImageMap
	url = git@github.com:muwiki/mediawiki-extensions-ImageMap.git
